.posts {
display: grid;
grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
gap:30px;
}

.container{
  min-height: 100vh;
  max-width: 1200px;
  background: #eee;
  padding: 30px;
  margin: 0 auto;
}

.post{
  background: #fff;
  box-shadow: 0, 0, 10px rgb(0,0,0,0.1);
  transition: transform 100ms ease-in-out;
}

.post-content{
  padding: 30px
}

.post img {
  max-width: 100%;
}

.post:hover{
  transform: scale(1.05);
}

  
.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}

